@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*background: lightblue;*/
}

#header {
    width: 100%;
    height: 4rem;
    font-family: 'Poppins', sans-serif;
    background: #2a2b31;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
}

#footer {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #EEF1FF;
    background: #1b1b1b;
    padding: .5rem 0;
    font-size: .8rem;
}

#main {
    display: flex;
    background: #c3f0ff;
    font-family: 'Poppins', sans-serif;
    min-height: 40.6rem;
}

#main > .section {
    border: 1px #606060 solid;
    background: lightblue;
}

#product {
    flex: 9 1 0;
    margin-right: .5rem;
    padding: .8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    align-content: flex-start;
}

#cart {
    flex: 4 1 0;
    margin-left: .5rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
    flex-direction: column;
}

/*CARD*/

.card {
    border: gray solid 2px;
    background: white;
    border-radius: 1rem;
    width: 17rem;
    height: 20rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: .5rem .1rem 1rem .1rem;
    transition: .2s;
}

.card-img {
    height: 50%;
    object-fit: contain;
    flex: 16 1 0;
}

.card-content {
    flex: 6 1 0;
    padding: .3rem .8rem;
}

.card-title {
    font-weight: 500;
    font-size: 1.2rem;
}

.card-desc {
    font-weight: 400;
    font-size: .8rem;
    color: gray;
}

.card-footer {
    flex: 3 1 0;
    padding: .3rem .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.1rem;
}

.card-price {
    display: flex;
}

.card-price-curr {
    margin-left: .1rem;
}

.card-button {
    border: lightgray 1px solid;
    background: #5ddfdf;
    width: fit-content;
    height: 1.8rem;
    border-radius: 1rem;
    text-align: center;
    line-height: 1.7rem;
    transition: .2s;
    cursor: pointer;
    padding: .1rem .5rem;
    word-spacing: -0.1rem;
}

.card:hover {
    scale: 1.1;
}

.card-button:hover {
    scale: 1.07;
    background: #4dd5d5;
}

.card-button:active {
    scale: 1;
    background: #5dffff;
}

.cart-card {
    border: gray solid 2px;
    border-radius: 1rem;
    width: 26rem;
    height: 6rem;
    overflow: hidden;
    display: flex;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    margin-top: .5rem;
    margin-bottom: .7rem;
    transition: .2s;
}

.cart-card:hover {
    scale: 1.05;
}
.cart-img {
    object-fit: contain;
    flex: 1 1 0;
    margin-right: .4rem;
    margin-left: .1rem;
}
.cart-title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1;
    flex: 4 1 0;
    padding-left: .2rem;
    padding-top: .1rem;
}

.cart-main {
    flex: 5 1 0;
    font-weight: 400;
    font-size: 1.1rem;
    align-items: center;
}

.cart-content {
    flex: 8 1 0;
    display: flex;
    flex-direction: column;
}
.cart-aside {
    flex: 5 1 0;
}

.cart-price {
    padding-left: .2rem;
    flex: 3 1 0;
}

.cart-counter {
    flex: 4 1 0;
}

.cart-total-title {
    font-weight: 400;
    font-size: 1.1rem;
    padding-top: .2rem;
    flex: 4 1 0;
    display: flex;
    justify-content: center;
}

.cart-total-price {
    flex: 5 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 1rem;
}

.cart-remove {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2 1 0;
    color: red;
    font-size: 1.3rem;

}

.cart-price-curr,
.total-curr{
    margin-left: .1rem;
}

.cart-main,
.cart-price,
.cart-counter,
.cart-total-price,
.cart-aside {
    display: flex;
}

.subtract {
    border-top: 1px gray solid;
    border-left: 1px gray solid;
    border-bottom: 1px gray solid;
    border-top: 1px gray solid;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem .3rem;
    font-size: 1rem;
    color: orangered;
    cursor: pointer;
    transition: .2s;
}

.count {
    border: 1px gray solid;
    padding: .1rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.append {
    font-size: 1rem;
    border-top: 1px gray solid;
    border-right: 1px gray solid;
    border-bottom: 1px gray solid;
    border-top: 1px gray solid;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem .3rem;
    color: green;
    cursor: pointer;
    transition: .2s;
}

.append:hover{
    color: lightgreen;
}

.append:hover,
.subtract:hover {
    background: #9daabb;
    font-size: 1.3rem;
}

.remove-button {
    cursor: pointer;
    transition: .3s;
}

.remove-button:hover {
    scale: 1.3;
}

.remove-button:active {
    scale: 1.1;
}

.append:active,
.subtract:active {
    background: #79889a;
    font-size: 1.1rem;
}

#cart-products {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: .8rem;
    flex: 0 1 auto;
}

.cart-total {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.8rem 0.8rem 1.8rem 0.8rem;
    flex: 1 1 auto;
    flex-direction: column;

}

#total-card {
    position: sticky;
    top: 82%;
    border: gray solid 2px;
    border-radius: 1rem;
    width: 26rem;
    height: 6rem;
    overflow: hidden;
    display: flex;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}

.total-price {
    flex: 7 1 0;
    display: flex;
    align-items: center;
    padding-left: .4rem;
}

.total-buy {
    flex: 3 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-price-title {
    margin-right: .4rem;
}

.total-value {
    margin-right: .1rem;
}

#cart-products .total-value ,
.cart-price-value {
    font-weight: 500;
}

.total-button {
    border: lightgray 1px solid;
    width: 5rem;
    height: 2.5rem;
    background: #01e384;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .7rem;
    transition: .2s;
    cursor: pointer;
}

.total-button:hover {
    scale: 1.1;
    background: #00ff92;
}

.total-button:active {
    scale: 1;
    background: #00bd6c;
}

